@model List<ArticleModel>

@{
    ViewData["Title"] = "Lista wpisów";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Lista wpisów</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin")">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Wpisy
            </li>


        </ul>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Lista wpisów</h4>
                    <button class="btn btn-primary ml-auto" onclick="location='@Url.Action("Add","Article")'">
                        <i class="fa fa-plus"></i>
                        Dodaj wpis
                    </button>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">

                        <thead>
                            <tr>
                                <th>Tytuł</th>
                                <th>Autor</th>
                                <th>Kategorie</th>
                                <th>Tagi</th>
                                <th><i class="far fa-comment-alt"></i></th>
                                <th>Data</th>
                                <th style="width: 10%">Operacje</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>Tytuł</th>
                                <th>Autor</th>
                                <th>Kategorie</th>
                                <th>Tagi</th>
                                <th><i class="far fa-comment-alt"></i></th>
                                <th>Data</th>
                                <th style="width: 10%">Action</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            @if (Model.Count != 0)
                            {
                                foreach (var article in Model)
                                {
                                    <tr id="row-@article.Id">
                                        <td>@article.Title</td>
                                        <td>@article.User.UserName</td>

                                        <td>
                                            @foreach (var taxonomy in article.Taxonomies)
                                            {
                                                if (taxonomy.Category != null)
                                                {
                                                    <span class="badge badge-info">@taxonomy.Category.Name</span>
                                                }
                                            }
                                        </td>

                                        <td>
                                            @foreach (var taxonomy in article.Taxonomies)
                                            {
                                                if (taxonomy.Tag != null)
                                                {
                                                    <span class="badge badge-info">@taxonomy.Tag.Name</span>
                                                }
                                            }
                                        </td>

                                        <td>0</td>

                                        <td>@article.AddDate.ToString("dd-MM-yyyy")</td>

                                        <td>
                                            @if (User.Identity.Name == article.User.UserName)
                                            {
                                                <div class="form-button-action">
                                                    <button type="button" data-toggle="tooltip" class="btn btn-link btn-primary btn-lg" data-original-title="Edytuj" onclick="location='@Url.Action("Edit","Article",new { Id = article.Id })'">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" data-toggle="tooltip" class="btn btn-link btn-danger delete-alert" data-original-title="Usuń" data-articleid="@article.Id">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">Brak dodanych wpisów</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

                  $('.delete-alert').click(function (e) {

                swal({
                title: 'Czy na pewno chcesz usunąć ten wpis?',
                text: "Tych zmian nie da się odtworzyć!",
                type: 'warning',
                buttons: {
                    confirm: {
                        text: 'Usuń!',
                        className: 'btn btn-danger'
                    },
                    cancel: {
                        visible: true,
                        text: 'Cofnij',
                        className: 'btn btn-success'
                    }
                }
            }).then((Delete) => {
                if (Delete) {

                    $.post("@Url.Action("Delete","Article")", { Id: this.dataset.articleid });

                    var row = document.getElementById(`row-${this.dataset.articleid}`);
                    row.parentNode.removeChild(row);

                    swal({
                        title: 'Usunieto',
                        text: 'Twój wpis została usunięty.',
                        type: 'success',
                        buttons: {
                            confirm: {
                                className: 'btn btn-success'
                            }
                        }
                    });

                } else {
                    swal.close();
                }
            });
                  });

                // Add Row
            $('#add-row').DataTable({
                "pageLength": 10,
            });

    </script>
}


