@model PrivacyPolicyModel

@{
    ViewData["Title"] = "Polityka prywatności";
    Layout = "~/Views/Shared/User/_Layout.cshtml";

    ViewData["noindex"] = "noindex";
}



<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> Polityka prywatności </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Strona główna</a></li>
                                <li class="breadcrumb-item"><i class="fas fa-arrow-right"></i></li>
                                <li class="breadcrumb-item">Polityka prywatności</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>  <!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->

<section class="bg-light text-left p-4">
    <div id="privacy-policy" class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mt-5" style="line-height: 36px;">

                <h3 class="pt-3 pb-3">
                    Polityka prywatności opisuje zasady przetwarzania przez nas
                    informacji na Twój temat, w tym danych osobowych oraz
                    ciasteczek, czyli tzw. cookies.
                </h3>
                <ul class="ml-3">
                    <li>1. Informacje ogólne</li>
                    <li>
                        1. Niniejsza polityka dotyczy Serwisu www, funkcjonującego pod adresem url: <b>@Model.PageUrl</b>
                    </li>
                    <li>
                        2. Operatorem serwisu oraz Administratorem danych osobowych jest:
                        <b>@Model.CompanyName</b>, <b>@Model.Street</b>, <b>@Model.ZipCode</b>, <b>@Model.City</b>
                    </li>
                    <li>
                        3. Adres kontaktowy poczty elektronicznej operatora: <b><a href="mailto:@Model.Email">@Model.Email</a></b>
                    </li>
                    <li>
                        4. Operator jest Administratorem Twoich danych osobowych w odniesieniu do danych podanych
                        dobrowolnie w Serwisie.
                    </li>
                    <li>
                        5. Serwis wykorzystuje dane osobowe w następujących celach:
                        <ul class="ml-3">
                            <li>
                                • Prowadzenie newslettera
                            </li>
                            <li>
                                • Obsługa zapytań przez formularz
                            </li>
                            <li>
                                • Realizacja zamówionych usług
                            </li>
                            <li>
                                • Prezentacja oferty lub informacji
                            </li>
                        </ul>

                    </li>
                    <li>
                        6. Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący
                        sposób:
                        <ul class="ml-3">
                            <li>
                                • Poprzez dobrowolnie wprowadzone w formularzach dane, które zostają wprowadzone do
                                systemów Operatora.
                            </li>
                            <li>
                                • Poprzez zapisywanie w urządzeniach końcowych plików cookie (tzw. „ciasteczka”).
                            </li>
                        </ul>
                    </li>


                </ul>



                <h3 class="pt-3 pb-3">
                    2. Wybrane metody ochrony danych stosowane przez
                    Operatora
                </h3>
                <ul class="ml-3">
                    <li>
                        1. Miejsca logowania i wprowadzania danych osobowych są chronione w warstwie transmisji
                        (certyfkat SSL). Dzięki temu dane osobowe i dane logowania, wprowadzone na stronie, zostają
                        zaszyfrowane w komputerze użytkownika i mogą być odczytane jedynie na docelowym serwerze.
                    </li>
                </ul>

                <h3 class="pt-3 pb-3">3. Hosting</h3>
                <ul class="ml-3">
                    <li>1. Serwis jest hostowany (technicznie utrzymywany) na serwera operatora: <b>@Model.HostingName</b></li>
                </ul>
                <h3 class="pt-3 pb-3">
                    4. Twoje prawa i dodatkowe informacje o sposobie
                    wykorzystania danych
                </h3>
                <ul class="ml-3">
                    <li>
                        1. W niektórych sytuacjach Administrator ma prawo przekazywać Twoje dane osobowe innym
                        odbiorcom, jeśli będzie to niezbędne do wykonania zawartej z Tobą umowy lub do zrealizowania
                        obowiązków ciążących na Administratorze. Dotyczy to takich grup odbiorców:
                        <ul class="ml-3">
                            <li>
                                • ubezpieczyciele
                            </li>
                            <li>
                                • upoważnieni pracownicy i współpracownicy, którzy korzystają z danych w celu realizacji
                                celu działania strony
                            </li>
                        </ul>
                    </li>
                    <li>
                        2. Twoje dane osobowe przetwarzane przez Administratora nie dłużej, niż jest to konieczne do
                        wykonania związanych z nimi czynności określonych osobnymi przepisami (np. o prowadzeniu
                        rachunkowości). W odniesieniu do danych marketingowych dane nie będą przetwarzane dłużej niż
                        przez 3 lata.
                    </li>
                    <li>
                        3. Przysługuje Ci prawo żądania od Administratora:
                        <ul class="ml-3">
                            <li>
                                • dostępu do danych osobowych Ciebie dotyczących,
                            </li>
                            <li>
                                • ich sprostowania,
                            </li>
                            <li>
                                • usunięcia,
                            </li>
                            <li>
                                • ograniczenia przetwarzania,
                            </li>
                            <li>
                                • oraz przenoszenia danych.
                            </li>
                        </ul>
                    </li>
                    <li>
                        4. Przysługuje Ci prawo do złożenia sprzeciwu w zakresie przetwarzania wskazanego w pkt 3.3 c)
                        wobec przetwarzania danych osobowych w celu wykonania prawnie uzasadnionych interesów
                        realizowanych przez Administratora, w tym proflowania, przy czym prawo sprzeciwu nie będzie
                        mogło być wykonane w przypadku istnienia ważnych prawnie uzasadnionych podstaw do
                        przetwarzania, nadrzędnych wobec Ciebie interesów, praw i wolności, w szczególności ustalenia,
                        dochodzenia lub obrony roszczeń.
                    </li>
                    <li>
                        5. Na działania Administratora przysługuje skarga do Prezesa Urzędu Ochrony Danych Osobowych, ul.
                        Stawki 2, 00-193 Warszawa.
                    </li>
                    <li>
                        6. Podanie danych osobowych jest dobrowolne, lecz niezbędne do obsługi Serwisu.
                    </li>
                    <li>
                        7. W stosunku do Ciebie mogą być podejmowane czynności polegające na zautomatyzowanym
                        podejmowaniu decyzji, w tym proflowaniu w celu świadczenia usług w ramach zawartej umowy
                        oraz w celu prowadzenia przez Administratora marketingu bezpośredniego.
                    </li>
                    <li>
                        8. Dane osobowe nie są przekazywane od krajów trzecich w rozumieniu przepisów o ochronie danych
                        osobowych. Oznacza to, że nie przesyłamy ich poza teren Unii Europejskiej.
                    </li>
                </ul>
                <h3 class="pt-3 pb-3">
                    5. Informacje w formularzach
                </h3>
                <ul class="ml-3">
                    <li>
                        1. Serwis zbiera informacje podane dobrowolnie przez użytkownika, w tym dane osobowe, o ile
                        zostaną one podane.
                    </li>
                    <li>
                        2. Serwis może zapisać informacje o parametrach połączenia (oznaczenie czasu, adres IP).
                    </li>
                    <li>
                        3. Serwis, w niektórych wypadkach, może zapisać informację ułatwiającą powiązanie danych w
                        formularzu z adresem e-mail użytkownika wypełniającego formularz. W takim wypadku adres e-mail
                        użytkownika pojawia się wewnątrz adresu url strony zawierającej formularz.
                    </li>
                    <li>
                        4. Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza,
                        np. w celu dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego, rejestracji
                        usług itp. Każdorazowo kontekst i opis formularza w czytelny sposób informuje, do czego on służy.
                    </li>
                </ul>
                <h3 class="pt-3 pb-3">
                    6. Logi Administratora
                </h3>
                <ul class="ml-3">
                    <li>
                        1. Informacje zachowaniu użytkowników w serwisie mogą podlegać logowaniu. Dane te są
                        wykorzystywane w celu administrowania serwisem.
                    </li>
                </ul>
                <h3 class="pt-3 pb-3">
                    7. Istotne techniki marketingowe
                </h3>
                <ul class="ml-3">
                    <li>
                        1. Operator stosuje analizę statystyczną ruchu na stronie, poprzez Google Analytics (Google Inc. z
                        siedzibą w USA). Operator nie przekazuje do operatora tej usługi danych osobowych, a jedynie
                        zanonimizowane informacje. Usługa bazuje na wykorzystaniu ciasteczek w urządzeniu końcowym
                        użytkownika. W zakresie informacji o preferencjach użytkownika gromadzonych przez sieć
                        reklamową Google użytkownik może przeglądać i edytować informacje wynikające z plików cookies
                        przy pomocy narzędzia: https://www.google.com/ads/preferences/
                    </li>
                    <li>
                        2. Operator stosuje techniki remarketingowe, pozwalające na dopasowanie przekazów reklamowych
                        do zachowania użytkownika na stronie, co może dawać złudzenie, że dane osobowe użytkownika są
                        wykorzystywane do jego śledzenia, jednak w praktyce nie dochodzi do przekazania żadnych danych
                        osobowych od Operatora do operatorom reklam. Technologicznym warunkiem takich działań jest
                        włączona obsługa plików cookie.
                    </li>
                    <li>
                        3. Operator stosuje korzysta z piksela Facebooka. Ta technologia powoduje, że serwis Facebook
                        (Facebook Inc. z siedzibą w USA) wie, że dana osoba w nim zarejestrowana korzysta z Serwisu.
                        Bazuje w tym wypadku na danych, wobec których sam jest administratorem, Operator nie
                        przekazuje od siebie żadnych dodatkowych danych osobowych serwisowi Facebook. Usługa bazuje
                        na wykorzystaniu ciasteczek w urządzeniu końcowym użytkownika.
                    </li>
                    <li>
                        4. Operator stosuje rozwiązanie badające zachowanie użytkowników poprzez tworzenie map ciepła
                        oraz nagrywanie zachowania na stronie. Te informacje są anonimizowane zanim zostaną przesłane
                        do operatora usługi tak, że nie wie on jakiej osoby fzycznej one dotyczą. W szczególności
                        nagrywaniu nie podlegają wpisywane hasła oraz inne dane osobowe.
                    </li>
                    <li>
                        5. Operator stosuje rozwiązanie automatyzujące działanie Serwisu w odniesieniu do użytkowników, np.
                        mogące przesłać maila do użytkownika po odwiedzeniu konkretnej podstrony, o ile wyraził on zgodę
                        na otrzymywanie korespondencji handlowej od Operatora.
                    </li>
                </ul>
                <h3 class="pt-3 pb-3">
                    8. Informacja o plikach cookies
                </h3>
                <ul class="ml-3">
                    <li>
                        1. Serwis korzysta z plików cookies.
                    </li>
                    <li>
                        2. Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które
                        przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania
                        ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której
                        pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.
                    </li>
                    <li>
                        3. Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz
                        uzyskującym do nich dostęp jest operator Serwisu.
                    </li>
                    <li>
                        4. Pliki cookies wykorzystywane są w następujących celach:
                        <ul class="ml-3">
                            <li>
                                1. utrzymanie sesji użytkownika Serwisu (po zalogowaniu), dzięki której użytkownik nie musi
                                na każdej podstronie Serwisu ponownie wpisywać loginu i hasła;
                            </li>
                            <li>
                                2. realizacji celów określonych powyżej w części "Istotne techniki marketingowe";
                            </li>
                        </ul>
                    </li>
                    <li>
                        5. W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies)
                        oraz „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane
                        są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej
                        lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane
                        są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do
                        czasu ich usunięcia przez Użytkownika.
                    </li>
                    <li>
                        6. Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj
                        domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika.
                        Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa
                        umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies
                        Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.
                    </li>
                    <li>
                        7. Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na
                        stronach internetowych Serwisu.
                    </li>
                    <li>
                        8. Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu wykorzystywane mogą
                        być również przez współpracujące z operatorem Serwisu podmioty, w szczególności dotyczy to
                        frm: Google (Google Inc. z siedzibą w USA), Facebook (Facebook Inc. z siedzibą w USA), Twitter
                        (Twitter Inc. z siedzibą w USA).
                    </li>
                    <li>
                        9. Zarządzanie plikami cookies – jak w praktyce wyrażać i
                        cofać zgodę?
                        <ul class="ml-3">
                            <li>
                                1. Jeśli użytkownik nie chce otrzymywać plików cookies, może zmienić ustawienia przeglądarki.
                                Zastrzegamy, że wyłączenie obsługi plików cookies niezbędnych dla procesów uwierzytelniania,
                                bezpieczeństwa, utrzymania preferencji użytkownika może utrudnić, a w skrajnych przypadkach
                                może uniemożliwić korzystanie ze stron www
                            </li>
                            <li>
                                2. W celu zarządzania ustawienia cookies wybierz z listy poniżej przeglądarkę internetową, której
                                używasz i postępuj zgodnie z instrukcjami:
                                <ul class="ml-3">
                                    <li>• <a href="https://support.microsoft.com/pl-pl/help/10607/microsoft-edge-view-delete-browser-history">Edge</a></li>
                                    <li>• <a href="https://support.microsoft.com/pl-pl/help/278835/how-to-delete-cookie-files-in-internet-explorer">Internet Explorer</a></li>
                                    <li>• <a href="https://support.google.com/chrome/answer/95647?hl=pl">Chrome</a></li>
                                    <li>• <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac">Safari</a></li>
                                    <li>• <a href="https://support.mozilla.org/pl/kb/wzmocniona-ochrona-przed-sledzeniem-firefox-desktop?redirectlocale=pl&redirectslug=W%C5%82%C4%85czanie+i+wy%C5%82%C4%85czanie+obs%C5%82ugi+ciasteczek">Firefox</a></li>
                                    <li>• <a href="https://help.opera.com/pl/latest/web-preferences/#cookies">Opera</a></li>
                                </ul>
                            </li>
                            <li>
                                Urządzenia mobilne:
                                <ul class="ml-3">
                                    <li>• <a href="https://support.google.com/chrome/answer/95647?hl=pl">Android</a></li>
                                    <li>• <a href="https://support.apple.com/pl-pl/HT201265">Safari (iOS)</a></li>
                                    <li>• <a href="https://support.microsoft.com/pl-pl/help/11696/windows-phone-7">Windows Phone</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section homeScripts {
    <script>
        $('#privacy-policy').bind('copy paste', function (e) {
            e.preventDefault(); return false;
        });
    </script>
}