@model ChangePasswordView

@{
    ViewData["Title"] = "zmiana hasła";

    ViewData["Page"] = "AccountList";
    ViewData["Group"] = "Account";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Zmiana hasła użytkownika</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin", new { Area = "admin" })">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("List","Account" , new { Area = "admin" })">Lista użytkownikow</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Edycja
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Edytuj hasła</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="login" style="background-color: white;">

                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            @using (Html.BeginForm("ChangePassword", "Account", new { area = "admin" }, FormMethod.Post, true, new { @class = "login-form", Area = "admin" }))
                            {
                                @Html.HiddenFor(x => x.Id)

                                <div class="form-group">
                                    <label for="password" class="placeholder"><b>Aktualne hasło</b></label>
                                    <div class="position-relative">
                                        @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
                                        <div class="show-password">
                                            <i class="icon-eye"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="placeholder"><b>Hasło</b></label>
                                    <div class="position-relative">
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                        <div class="show-password">
                                            <i class="icon-eye"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="placeholder"><b>Powtórz hasło</b></label>
                                    <div class="position-relative">
                                        @Html.PasswordFor(x => x.RepeatPassword, new { @class = "form-control" })
                                        <div class="show-password">
                                            <i class="icon-eye"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-action-d-flex mb-3">
                                    <button type="submit" class="btn btn-secondary col-md-5 float-left mt-3 mt-sm-0 fw-bold">Zapisz hasło</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>