@model MetaTagView

@{
    ViewData["Title"] = "dodaj meta tag";

    ViewData["Page"] = "SeoMetaTags";
    ViewData["Group"] = "Seo";

    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Meta tagi</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin")">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Seo
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("MetaTagsList","Seo")">Meta tagi</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Edytuj
            </li>
        </ul>
    </div>

    @using (Html.BeginForm("MetaTagsEdit", "Seo", FormMethod.Post, new { @class = "login-form row" }))
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Edytuj meta tag</h4>
                        <button class="btn btn-success ml-auto" type="submit">
                            <i class="fa fa-edit"></i>
                            Edytuj tag
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="login" style="background-color: white;">

                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <label class="placeholder"><b>Name</b></label>
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="placeholder"><b>Content</b></label>
                                    @Html.TextBoxFor(x => x.Content, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

