@model RetrievalLinksView

@{
    ViewData["Title"] = "dodaj przekierowanie";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">
            Odzyskiwanie linków
        </h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin")">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Seo
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("RetrievalLinksList","Seo")">Przekierowania</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Dodaj
            </li>
        </ul>
    </div>

    @using (Html.BeginForm("RetrievalLinksAdd", "Seo", FormMethod.Post, new { @class = "login-form row" }))
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Dodaj przekierowanie</h4>
                        <button class="btn btn-success ml-auto" type="submit">
                            <i class="fa fa-plus"></i>
                            Dodaj
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="login" style="background-color: white;">

                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <label class="placeholder"><b>Stary link</b></label>
                                    @Html.TextBoxFor(x => x.OldUrl, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="placeholder"><b>Nowy link</b></label>
                                    @Html.TextBoxFor(x => x.NewUrl, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

