@model IEnumerable<SocialMediaModel>

@{
    ViewData["Title"] = "social media";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Social media</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin")">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Seo
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Social media
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Social media</h4>
                        <button class="btn btn-success ml-auto" onclick="location='@Url.Action("SocialMediaAdd","Seo")'">
                            <i class="fa fa-plus"></i>
                            Dodaj
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row row-projects">
                        <div class="table-responsive">
                            <table id="add-row" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Nazwa</th>
                                        <th>Link</th>
                                        <th>Ikona</th>
                                        <th style="width: 10%">Operacje</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Nazwa</th>
                                        <th>Link</th>
                                        <th>Ikona</th>
                                        <th style="width: 10%">Operacje</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @if (Model.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="4">Brak dodanych kanałów social media</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var socialMedia in Model)
                                        {
                                            <tr id="row-@socialMedia.Id">
                                                <td>@socialMedia.Name</td>
                                                <td>@socialMedia.Link</td>
                                                <td><i style="font-size: 3em" class="@socialMedia.FontAwesome"></i></td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <button type="button" data-toggle="tooltip" onclick="location='@Url.Action("SocialMediaEdit","Seo", new { Id = socialMedia.Id })'" class="btn btn-link btn-primary btn-lg" data-original-title="Edytuj">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" data-toggle="tooltip" class="btn btn-link btn-danger delete-alert" data-original-title="Usuń" data-socialmediaid="@socialMedia.Id">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            $('#basic-datatables').DataTable({
            });

        });

        $('.delete-alert').click(function (e) {
            swal({
                title: 'Czy na pewno chcesz usunąć to socialmedium?',
                text: "Tych zmian nie da się odtworzyć!",
                type: 'warning',
                buttons: {
                    confirm: {
                        text: 'Usuń!',
                        className: 'btn btn-danger'
                    },
                    cancel: {
                        visible: true,
                        text: 'Cofnij',
                        className: 'btn btn-success'
                    }
                }
            }).then((Delete) => {
                if (Delete) {

                    $.post("@Url.Action("SocialMediaDelete","Seo")", { Id: this.dataset.socialmediaid });

                    var row = document.getElementById(`row-${this.dataset.socialmediaid}`);
                    row.parentNode.removeChild(row);

                    swal({
                        title: 'Usunieto',
                        text: 'Twoje socialmedium zostało usunięte.',
                        type: 'success',
                        buttons: {
                            confirm: {
                                className: 'btn btn-success'
                            }
                        }
                    });


                } else {
                    swal.close();
                }

            });

        });
    </script>
}


