@{
    var homeData = ViewData["HomeData"] as HomeView;
}

@if (homeData.Articles.Count() == 3)
{
    <section id="blog" class="bg-light-gray">
        <h2 class="d-none">heading</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;">
                        <h5>  Aktualności </h5>
                        <h2> Najnowsze wpisy </h2>
                        <p> Zobacz moje najnowsze wpisy. Programowanie i tworzenie stron to moja pasja. Z chęcią dziele się swoją wiedza jak i doświadczeniem.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var article in homeData.Articles)
                {
                    <div class="col-md-4 col-sm-12">
                        <div class="news_item shadow blog-one">

                            <img style="height:200px;width:100%" src="@article.Image.Url" alt="@article.Image.Description" class="img-fluid">

                            <div class="news_desc">

                                <h3 style="min-height:100px;" class="text-center line-height-normal"><a href="@($"blog/{article.Slug}")" class="color-black">@article.Title</a></h3>

                                <ul style="min-height:25px;" class="meta-tags mt-20px mb-20px">
                                    <li><a href="javascript:void(0)"><i class="ti ti-calendar"></i>@article.AddDate.ToString("dd-MM-yyyy")</a></li>
                                    <li><a href="javascript:void(0)"> <i class="ti ti-user"></i> @article.User.Name </a></li>
                                    <li><a href="javascript:void(0)"><i class="ti ti-comment"></i>5 </a></li>
                                </ul>

                                <p style="min-height:100px;" class="mb-35px">@article.Excerpt</p>

                                <a style="min-height:25px;" href="@($"blog/{article.Slug}")" class="btn-setting btn-hvr-setting-main btn-pink text-white btn-hvr">
                                    Czytaj więcej
                                    <span class="btn-hvr-setting btn-hvr-yellow">
                                        <span class="btn-hvr-setting-inner">
                                            <span class="btn-hvr-effect"></span>
                                            <span class="btn-hvr-effect"></span>
                                            <span class="btn-hvr-effect"></span>
                                            <span class="btn-hvr-effect"></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
