@{
    @inject IHomeService HomeService
    var homeData = await HomeService.GetHomeProperties();
}

<!--Full Menu -->
<section class="overlay-menu fullscreen center-block">
    <h2 class="d-none">heading</h2>
    <div class="quarter-circle">
        <div class="menu_bars2 active"> <span></span> <span></span> <span></span> </div>
    </div>
    <span class="overlay-effect"></span>
    <div class="centered">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <a href="index.html" class="logo-full mb-5 mb-xs-2rem">
                        <img src="~/user/images/side-logo-black.png"
                             alt="">
                    </a>
                </div>
                <div class="col-md-12 text-left mt-5 mb-5">
                    <ul class="side-nav-content heading_space">
                        <li class="full-menu-hover">
                            <div class="nav-item">
                                <span class="d-inline-block">01.</span> <a href="@Url.Action("List","Blog")" class="nav-link">Blog</a>
                            </div>
                        </li>
                        @if (ViewData["isHome"] != null)
                        {
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">02.</span> <a href="#home" class="scroll nav-link rotate">Główna</a>
                                </div>
                            </li>
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">03.</span> <a href="#services" class="scroll nav-link">Usługi</a>
                                </div>
                            </li>
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">04.</span> <a href="#opinion" class="scroll nav-link">Opinie</a>
                                </div>
                            </li>
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">05.</span> <a href="#portfolio" class="scroll nav-link">Portfolio</a>
                                </div>
                            </li>
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">06.</span> <a href="#contact" class="scroll nav-link">Kontakt</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">02.</span> <a href="@Url.Action("Index","Home")" class=" nav-link rotate">Główna</a>
                                </div>
                            </li>
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">03.</span> <a href="@Url.Action("Index","Home")#services" class=" nav-link">Usługi</a>
                                </div>
                            </li>
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">04.</span> <a href="@Url.Action("Index","Home")#opinion" class=" nav-link">Opinie</a>
                                </div>
                            </li>
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">05.</span> <a href="@Url.Action("Index","Home")#portfolio" class=" nav-link">Portfolio</a>
                                </div>
                            </li>
                            <li class="full-menu-hover">
                                <div class="nav-item">
                                    <span class="d-inline-block">06.</span> <a href="@Url.Action("Index","Home")#contact" class=" nav-link">Kontakt</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="side-nav-social">
                        @foreach (var socialMedium in homeData.SocialMedias)
                        {
                            <a target="_blank" href="@socialMedium.Link" class="facebook-bg-hvr">
                                <i class="@socialMedium.FontAwesome" aria-hidden="true"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Full Menu-->
