@{
    @inject IHomeService HomeService
    var homeData = await HomeService.GetHomeProperties();
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

@if (!string.IsNullOrEmpty(ViewData["canonical"] as string))
{
    <link rel="canonical" href="@Html.Raw(ViewData["canonical"])" />
}

@foreach (var metaTag in homeData.MetaTags)
{
    if (!string.IsNullOrEmpty(ViewData["Description"] as string))
    {
        <meta name="Description" content="@Html.Raw(ViewData["Description"])" />
    }
    else
    {
        <meta name="@metaTag.Name" content="@Html.Raw(metaTag.Content)" />
    }
}


<title>@Html.Raw(ViewData["Title"]) @(ViewData["Title"] != null ? "-" : "") Profesjonalne Strony Internetowe i Aplikacje WWW</title>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<link rel="icon" href="~/user/images/favicon.png">

<environment include="Staging,Production">

    @if (!string.IsNullOrEmpty(homeData.Integrations.GoogleAnalytics))
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=@homeData.Integrations.GoogleAnalytics.Trim()"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@homeData.Integrations.GoogleAnalytics.Trim()');
        </script>
    }

    @if (!string.IsNullOrEmpty(homeData.Integrations.YandexMetrica))
    {
        <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode
                .insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(@homeData.Integrations.YandexMetrica.Trim(), "init", {
            id: @homeData.Integrations.YandexMetrica.Trim(),
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
        </script>
        <noscript>
            <div><img src="https://mc.yandex.ru/watch/@homeData.Integrations.YandexMetrica.Trim()" style="position:absolute; left:-9999px;" alt="" /></div>
        </noscript>
    }

    @if (!string.IsNullOrEmpty(homeData.Integrations.FacebookPixel))
    {
        <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '@homeData.Integrations.FacebookPixel.Trim()');
        fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=@homeData.Integrations.FacebookPixel.Trim()&ev=PageView&noscript=1" />
        </noscript>
    }

    @if (!string.IsNullOrEmpty(homeData.Integrations.Hotjar))
    {
        <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: @homeData.Integrations.Hotjar.Trim(), hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
    }

    @if (!string.IsNullOrEmpty(homeData.Integrations.CustomHeaderScripts))
    {
        <text>
            @Html.Raw(homeData.Integrations.CustomHeaderScripts)
        </text>
    }
</environment>