@{
    @inject IHomeService HomeService
    var homeData = await HomeService.GetHomeProperties();
}

<div class="text-left">
    <!-- Recent Post -->
    <div class="widget heading-space wow fadeIn" data-wow-delay="350ms">
        <h5 class="color-black font-weight-600 mb-4">Najnowsze wpisy</h5>
        @if (homeData.Articles.Count() == 0)
        {
            <h6>Brak najnowszych wpisów</h6>
        }

        @foreach (var article in homeData.Articles)
        {
            <div class="single-post mb-3">
                <a href="@Url.Action("Details","Blog", new { slug = article.Slug})" class="post">
                    @if (article.Image != null)
                    {
                        <img src="@article.Image.Url" alt="@article.Image.Description">
                    }
                </a>
                <div class="text">
                    <a href="@Url.Action("Details","Blog", new { slug = article.Slug})" class="color-grey">@article.Title</a>
                    <span>@article.AddDate.ToString("dd-MM-yyyy")</span>
                </div>
            </div>
        }
    </div>

    <!-- Categories -->
    <div class="widget heading-space wow fadeIn" data-wow-delay="400ms">
        <h5 class="color-black font-weight-600 mb-4">Kategorie</h5>
        <div>
            @if (homeData.Categories.Count() == 0)
            {
                <h6>Brak kategorii</h6>
            }

            @foreach (var category in homeData.Categories)
            {
                <div class="categories-name">
                    <a href="@Url.Action("Category","Blog", new { category = category.Name.ToLower()})">
                        <p class="font-16 color-grey text-capitalize">@category.Name</p>
                    </a>
                </div>
            }
        </div>
    </div>
    <!-- Tags -->
    <div class="widget heading-space mb-0 wow fadeIn" data-wow-delay="450ms">
        <h5 class="color-black font-weight-600 mb-4">Tagi</h5>
        <div>
            @if (homeData.Tags.Count() == 0)
            {
                <h6>Brak tagów</h6>
            }

            <ul class="tags">
                @foreach (var tag in homeData.Tags)
                {
                    <li>
                        <p class="font-13 text-capitalize">@tag.Name</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>