
@{
    ViewData["Title"] = "dodaj medium";

    ViewData["Page"] = "MediaAdd";
    ViewData["Group"] = "Media";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Dodaj medium</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("List","Media", new {area = "admin"})">Media</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Dodaj medium
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title"></div>
        </div>
        <div class="card-body">

            <div class="row justify-content-center mobile ">
                <div class="demo d-none d-sm-block-sm d-md-block d-lg-block d-xl-block">
                    <div class="progress-card">
                        <div class="progress-status">
                            <span class="text-muted">Wykorzystana przestrzeń dyskowa</span>
                            <span class="text-muted fw-bold"> @ViewData["FilesSize"]%</span>
                        </div>
                        <div class="progress" style="width:750px;">
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: @ViewData["FilesSize"]%" aria-valuenow="@ViewData["FilesSize"]" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="" data-original-title="@ViewData["FilesSize"]%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-4 mb-4 d-none" id="message-holder">
                <div class="alert alert-danger " id="message-value"></div>
            </div>

            <div class="d-none dropzone" id="dropzone-loader">
                <div class="dz-message">
                    <img height="150" src="~/user/images/loader.gif" />
                </div>
            </div>

            @using (Html.BeginForm("Add", "Media", new { area = "admin" }, FormMethod.Post, true, new { @enctype = "multipart/form-data", @class = "dropzone", @id = "uploaddropzone" }))
            {
                <div class="dz-message" data-dz-message>
                    <div class="icon">
                        <i class="flaticon-file"></i>
                    </div>
                    <h4 class="message">Przeciągnij i upuść zdjęcie tutaj</h4>
                    <div class="note">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</div>
                </div>

                <div class="fallback">
                    <input type="file" name="files" multiple />
                </div>
            }

            <div class="row justify-content-center">
                <button class="btn btn-primary mb-3 mt-4" id="photo-submit">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    Dodaj zdjęcia
                </button>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <!-- Dropzone -->
    <script src="~/boundle/js/dropzone.min.js"></script>

    <script>

        const messageHolder = document.querySelector("#message-holder");
        const messageValue = document.querySelector("#message-value");

        const dropzone = document.querySelector("#uploaddropzone");
        const dropzoneLoader = document.querySelector("#dropzone-loader");

        // Zapobieganie aby dropzone nie próbował dwa utworzyć się dwa razy
        Dropzone.autoDiscover = false;

        const options = {
            paramName: () => "files", // aby otrzymać w backendzie wynik wysyłki należy użyć funkcji lambda zamiast stringa
            uploadMultiple: true, // zaznaczenie że będziemy wysyłać kilka plików
            parallelUploads: 5, // ile maksymalnie plików moze pójść w kolejce
            maxFilesize: 50, // maksymalny rozmiar pliku w MB
            maxFiles: 5, // maksymalna liczba plików
            addRemoveLinks: true, // mozliwość usunięcia z dropzone zdjęcia
            acceptedFiles: ".png,.jpg,.gif,.jpeg,.pdf,.xlsx,.doc,.docx",
            autoProcessQueue: false, // blokowanie automatycznej wysyłki

            accept: function (file, done) {
                done();
            },

            init: function () { },

            success: function (file, response) { // akcja wykonywana po wysłaniu pliku
                document.location = "@Url.Action("List","Media", new {area = "admin"})";
            },

            error: function (file, response) { // akcja wykonywana w przypadku wystąpienia błędu

                dropzone.classList.remove("d-none");
                dropzoneLoader.classList.add("d-none");

                messageHolder.classList.remove("d-none");
                messageValue.innerText = response;

                // usuń pliki z dropzone
                this.removeFile(file);
            }

        };

        const myDropzone = new Dropzone("#uploaddropzone", options);

        const submitButton = document.querySelector("#photo-submit");
        submitButton.addEventListener("click", function () {

            messageHolder.classList.add("d-none");

            dropzone.classList.add("d-none");
            dropzoneLoader.classList.remove("d-none");

            myDropzone.processQueue()

        });

    </script>

}
