@model MediaView

@{
    ViewData["Title"] = "edytuj zdjęcie";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Edytuj medium</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin")">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("List","Media")">Biblioteka mediów</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Edycja
            </li>
        </ul>
    </div>

    <div class="col-md-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-5 d-flex flex-column position-static">
                @using (Html.BeginForm("Edit", "Media", FormMethod.Post))
                {
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    @Html.HiddenFor(x => x.Url)

                    <div class="form-group form-group-default mb-3 active">
                        <label>Identyfikator zasobu</label>
                        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @disabled = "disabled" })
                    </div>

                    <div class="form-group form-group-default mb-3">
                        <label>Nazwa</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>

                    <div class="form-group form-group-default mb-3">
                        <label>Opis alternatywny</label>
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                    </div>

                    <div class="row mt-4">
                        <button type="submit" class="btn btn-success ml-3">
                            <span class="btn-label">
                                <i class="fas fa-check"></i>
                            </span>
                            Zapisz
                        </button>
                    </div>
                }
            </div>

            <div class="col-auto d-none d-lg-block">
                <img width="600" src="@Model.Url" />
            </div>
        </div>
    </div>
</div>

