<div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
        <div class="user">
            <div class="avatar-sm float-left mr-2">
                <img src="~/images/profile.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Admin
                        <span class="user-level">Administrator</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">Mój profil</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Edytuj profil</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Ustawienia</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav nav-primary">
            <li class="nav-item active">
                <a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                    <i class="fas fa-home"></i>
                    <p>Na skróty</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="../demo1/index.html">
                                <span class="sub-item">Dashboard 1</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-section">
                <span class="sidebar-mini-icon">
                    <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">MENU</h4>
            </li>
            <li class="nav-item">
                <a data-toggle="collapse" href="#posts">
                    <i class="fas fa-pen-nib"></i>
                    <p>Wpisy</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="posts">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="@Url.Action("List","Article")">
                                <span class="sub-item">Wszystkie wpisy</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Add","Article")">
                                <span class="sub-item">Dodaj nowy</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("List","Category")">
                                <span class="sub-item">Kategorie</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("List","Tag")">
                                <span class="sub-item">Tagi</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("List","Comment")">
                    <i class="far fa-comments"></i>
                    <p>Komentarze</p>
                    <span class="badge badge-info">1</span>
                </a>
            </li>

            <li class="nav-item">
                <a data-toggle="collapse" href="#media">
                    <i class="fas fa-images"></i>
                    <p>Media</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="media">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="@Url.Action("List","Media")">
                                <span class="sub-item">Biblioteka</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Add","Media")">
                                <span class="sub-item">Dodaj nowe</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a data-toggle="collapse" href="#page">
                    <i class="fas fa-desktop"></i>
                    <p>Strony</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="page">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="@Url.Action("List","Page")">
                                <span class="sub-item">Wszystkie strony</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Add","Page")">
                                <span class="sub-item">Dodaj nową</span>
                            </a>
                        </li>
                    </ul>s
                </div>
            </li>

            <li class="nav-item">
                <a data-toggle="collapse" href="#user">
                    <i class="fas fa-user-cog"></i>
                    <p>Użytkownicy</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="user">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="@Url.Action("List","Account")">
                                <span class="sub-item">Lista użytkowników</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register","Account")">
                                <span class="sub-item">Dodaj użytkownika</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a data-toggle="collapse" href="#apperance">
                    <i class="fas fa-paint-brush"></i>
                    <p>Wygląd</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="apperance">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="@Url.Action("SetImages","Appearance")">
                                <span class="sub-item">Logotyp</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SetColors","Appearance")">
                                <span class="sub-item">Kolorystyka</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SetTypography","Appearance")">
                                <span class="sub-item">Typografia</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a data-toggle="collapse" href="#pagesettings">
                    <i class="fas fa-cog"></i>
                    <p>Ustawienia</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="pagesettings">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="@Url.Action("Index","Settings")">
                                <span class="sub-item">Ogólne</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Email","Settings")">
                                <span class="sub-item">Poczta</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Blog","Settings")">
                                <span class="sub-item">Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("PrivacyPolicy","Settings")">
                                <span class="sub-item">Polityka prywatności</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Integration","Settings")">
                                <span class="sub-item">Integracje</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a data-toggle="collapse" href="#seo">
                    <i class="fas fa-search"></i>
                    <p>SEO</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="seo">
                    <ul class="nav nav-collapse">
                        <li>
                            <a href="@Url.Action("RetrievalLinksList","Seo")">
                                <span class="sub-item">Odzyskiwanie linków</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("MetaTagsList","Seo")">
                                <span class="sub-item">Meta tagi</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SocialMediaList","Seo")">
                                <span class="sub-item">Social media</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Index","Payment")">
                    <i class="far fa-credit-card"></i>
                    <p>Płatności</p>
                    <span class="badge badge-info">30 dni</span>
                </a>
            </li>


            <li class="nav-item">
                <a href="@Url.Action("Index","Analytics")">
                    <i class="fas fa-chart-bar"></i>
                    <p>Statystyki</p>
                </a>
            </li>

        </ul>
    </div>
</div>
