@model MediaModel

@{
    ViewData["Title"] = "szczegóły zdjęcia";

    ViewData["Page"] = "MediaList";
    ViewData["Group"] = "Media";

    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Szczegóły medium</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin")">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("List","Media")">Biblioteka mediów</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Szczegóły
            </li>
        </ul>
    </div>

    <div class="col-md-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-5 d-flex flex-column position-static">

                <div class="form-group form-group-default mb-3">
                    <label>Identyfikator zasobu</label>
                    <input type="text" class="form-control with-out-grey" value="@Model.Id" readonly>
                </div>

                <div class="form-group form-group-default mb-3">
                    <label>Nazwa</label>
                    <input type="text" class="form-control with-out-grey" value="@Model.Name" readonly>
                </div>

                <div class="form-group form-group-default mb-3">
                    <label>Opis alternatywny</label>
                    <input type="text" class="form-control with-out-grey" value="@Model.Description" readonly>
                </div>

                <div class="form-group form-group-default mb-3">
                    <label>Data dodanie</label>
                    <input type="text" class="form-control with-out-grey" value="@Model.AddDate" readonly>
                </div>

                @if (Model.Type == null)
                {
                    <div class="form-group form-group-default mb-3">
                        <label>Kategoria pliku</label>
                        <input type="text" class="form-control with-out-grey" value="Różne" readonly>
                    </div>
                }
                else
                {
                    <div class="form-group form-group-default mb-3">
                        <label>Kategoria pliku</label>
                        <input type="text" class="form-control with-out-grey" value="@Model.Type.Name" readonly>
                    </div>
                }

                <div class="form-group form-group-default mb-3">
                    <label>Bezpośredni adres do zasobu</label>
                    <input type="text" class="form-control with-out-grey" value="@Model.Url" readonly>
                </div>

                <div class="row mt-3">
                    <button onclick="location='@Url.Action("Edit","Media", new { id = Model.Id })'" class="btn btn-primary ml-3">
                        <span class="btn-label">
                            <i class="fa fa-edit"></i>
                        </span>
                        Edytuj
                    </button>

                    <button class="btn btn-danger ml-3 delete-alert" data-imgageid="@Model.Id">
                        <span class="btn-label">
                            <i class="fa fa-times"></i>
                        </span>
                        Usuń
                    </button>

                    <button onclick="location='@Url.Action("List","Media")'" class="btn btn-success ml-3" data-imgageid="@Model.Id">
                        <span class="btn-label">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        Wróc
                    </button>
                </div>

            </div>

            <div class="col-auto d-none d-lg-block">
                <img width="600" src="@Model.Url" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $('.delete-alert').click(function (e) {
            swal({
                title: 'Czy na pewno chcesz usunąć te zdjęcie?',
                text: "Tych zmian nie da się odtworzyć!",
                type: 'warning',
                buttons: {
                    confirm: {
                        text: 'Usuń!',
                        className: 'btn btn-danger'
                    },
                    cancel: {
                        visible: true,
                        text: 'Cofnij',
                        className: 'btn btn-success'
                    }
                }
            }).then((Delete) => {
                if (Delete) {

                    $.post("@Url.Action("Delete","Media")", { Id: this.dataset.imgageid });
                    location = '@Url.Action("List","Media")';

                } else {
                    swal.close();
                }

            });

        });
    </script>
}
