@model IEnumerable<PageModel>

@{
    ViewData["Title"] = "lista stron";

    ViewData["Page"] = "PageList";
    ViewData["Group"] = "Page";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-navs bg-white">
    <div class="nav-scroller">
        <div class="nav nav-tabs nav-line nav-color-secondary d-flex align-items-center justify-contents-center w-100">
            <a class="nav-link active show" data-toggle="tab" href="#tab1">
                Wszystkie strony
                <span class="count ml-1">(@ViewBag.PagesCount)</span>
            </a>
            <a class="nav-link" data-toggle="tab" href="#tab2">Opublikowane</a>
            <a class="nav-link" data-toggle="tab" href="#tab3">Szkic</a>
            <div class="ml-auto">
                <a href="@Url.Action("Add","Page", new {area = "admin"})" class="btn btn-success">Dodaj stronę</a>
            </div>
        </div>
    </div>
</div>
<div class="page-inner">
    <div class="row row-projects">
        <div class="table-responsive">
            <table id="add-row" class="display table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 30%">Tytuł</th>
                        <th>Informacje</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th style="width: 10%">Operacje</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th style="width: 30%">Tytuł</th>
                        <th>Informacje</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th style="width: 10%">Operacje</th>
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var pageModel in Model)
                    {
                        <tr id="row-@pageModel.Id">
                            <td>@pageModel.Title</td>

                            <td>
                                @if (pageModel.IsIndex)
                                {
                                    <span class="badge badge-danger">noindex</span>
                                }
                                @if (!pageModel.IsCannonical)
                                {
                                    <span class="badge badge-success">Canonical</span>
                                }
                            </td>

                            <td>@pageModel.AddDate.ToString("dd-MM-yyyy")</td>

                            <td>
                                @if (pageModel.IsDraft)
                                {
                                    <span class="badge badge-info">Szkic</span>
                                }
                                else
                                {
                                    <span class="badge badge-success">Opublikowana</span>
                                }
                            </td>

                            <td>
                                <div class="form-button-action">
                                    <button type="button" data-toggle="tooltip" onclick="location='/strona/@pageModel.Slug'" class="btn btn-link btn-success btn-lg" data-original-title="Podgląd">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button type="button" data-toggle="tooltip" onclick="location='@Url.Action("Edit","Page", new {area = "admin"})/@pageModel.Id'" class="btn btn-link btn-primary btn-lg" data-original-title="Edytuj">
                                        <i class="fas fa-code"></i>
                                    </button>
                                    <button type="button" data-toggle="tooltip" class="btn btn-link btn-danger delete-alert" data-original-title="Usuń" data-pageid="@pageModel.Id">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {


            $('.delete-alert').click(function (e) {

                swal({
                title: 'Czy na pewno chcesz usunąć tą stronę?',
                text: "Tych zmian nie da się odtworzyć!",
                type: 'warning',
                buttons: {
                    confirm: {
                        text: 'Usuń!',
                        className: 'btn btn-danger'
                    },
                    cancel: {
                        visible: true,
                        text: 'Cofnij',
                        className: 'btn btn-success'
                    }
                }
            }).then((Delete) => {
                if (Delete) {

                    $.post("@Url.Action("Delete","Page", new {area = "admin"})", { Id: this.dataset.pageid });

                    var row = document.getElementById(`row-${this.dataset.pageid}`);
                    row.parentNode.removeChild(row);

                    swal({
                        title: 'Usunieto',
                        text: 'Twoja strona została usunięta.',
                        type: 'success',
                        buttons: {
                            confirm: {
                                className: 'btn btn-success'
                            }
                        }
                    });

                } else {
                    swal.close();
                }
            });
                  });

            // Add Row
            $('#add-row').DataTable({
                "pageLength": 10,
            });

        });
    </script>
}
