@model IEnumerable<ArticleModel>

@{
    ViewData["Title"] = "kategorie";
    Layout = "~/Views/Shared/User/_Layout.cshtml";
    var homeData = ViewData["HomeData"] as HomeView;
}

<section class="page_header pb-0 w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content position-relative">
                <h2 class="text-white mt-5 mb-2">Najnowsze wpisy z kategorii <strong>@ViewBag.CategoryName</strong></h2>
                <p class="text-white">
                    @ViewBag.CategoryDesc
                </p>
                <div class="page_nav bg-white d-inline-block">
                    <span>Jesteś tutaj:</span> <a href="@Url.Action("Index","Home")" class="d-inline-block color-black">Strona główna</a> <i class="ti ti-angle-double-right"></i> <a href="@Url.Action("List","Blog")" class="d-inline-block color-black">Blog</a> <span class="color-yellow"><i class="ti ti-angle-double-right"></i> @ViewBag.CategoryName</span>
</div>
            </div>
        </div>
    </div>
</section>

<!-- Blog starts -->
<section class="bg-light text-left">
    <div class="container">
        <div class="row">
            <!-- Blog Left Listing -->
            <div class="col-lg-8 col-md-7">

                @if (Model.Count() == 0)
                {
                    <h3>Brak dodanych wpisów z tej kategorii</h3>
                }

                @foreach (var article in Model)
                {
                    <div class="blog-box heading-space">
                        <!-- Blog List Inner -->
                        <div class="blog-listing-inner news_item">
                            @if (article.Image != null)
                            {
                                <div class="image hover-effect">
                                    <img src="@article.Image.Url" alt="@article.Image.Description">
                                </div>
                            }
                            <div class="news_desc">
                                <h3 class="text-capitalize font-weight-500"><a href="@Url.Action("Details","Blog", new { slug = article.Slug})" class="color-black">@article.Title</a></h3>
                                <ul class="meta-tags mt-20px mb-20px">
                                    <li><i class="ti ti-calendar"></i> @article.AddDate.ToString("dd-MM-yyyy")</li>
                                    <li> <i class="ti ti-user"></i> @article.User.Name </li>
                                    <li><i class="ti ti-comments-smiley"></i> @article.Comments.Where(x => x.IsAccepted != false).Count()</li>
                                </ul>
                                <p class="mb-35px color-grey line-height-25px">@article.Excerpt</p>
                                <a href="@Url.Action("Details","Blog", new { slug = article.Slug})" class="btn-setting btn-hvr-setting-main btn-pink">
                                    Czytaj więcej
                                    <span class="btn-hvr-setting">
                                        <span class="btn-hvr-setting-inner">
                                            <span class="btn-hvr-effect"></span>
                                            <span class="btn-hvr-effect"></span>
                                            <span class="btn-hvr-effect"></span>
                                            <span class="btn-hvr-effect"></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Count() != 0)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="pagination justify-content-center mb-xs-5">

                                @if (ViewBag.CurrentPage != 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("List", "Blog", new { page = ViewBag.CurrentPage - 1 })">
                                            <i class="ti ti-angle-left"></i>
                                        </a>
                                    </li>
                                }

                                @for (int num = 1; num <= ViewBag.MaxPage; num++)
                                {
                                    <li class="page-item @(ViewBag.CurrentPage == num ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("List", "Blog", new { page = num })">@num</a>
                                    </li>
                                }

                                @if (ViewBag.MaxPage != ViewBag.CurrentPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("List", "Blog", new { page = ViewBag.CurrentPage + 1 })">
                                            <i class="ti ti-angle-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>

            <!-- Blog Widgets -->
            <div class="col-lg-4 col-md-5">
                @await Html.PartialAsync("User/_SideBar")
            </div>
        </div>
    </div>
</section>
<!-- Blog ends -->