@model IntegrationView

@{
    ViewData["Title"] = "konfiguracja integracji";

    ViewData["Page"] = "SettingsIntegration";
    ViewData["Group"] = "Settings";

    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Integracje</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin")">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Settings")">Ustawienia</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Integracje
            </li>
        </ul>
    </div>

    @using (Html.BeginForm("Integration", "Settings", FormMethod.Post, new { @class = "login-form row" }))
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Klucze integracyjne</h4>
                        <button class="btn btn-success ml-auto" type="submit">
                            <i class="fa fa-plus"></i>
                            Zapisz zmiany
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="login" style="background-color: white;">

                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                @Html.HiddenFor(x => x.Id)

                                <div class="form-group">
                                    <label class="placeholder"><b>Czat Tawk.to</b></label>
                                    @Html.TextBoxFor(x => x.Tawkto, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="placeholder"><b>Google Analytics</b></label>
                                    @Html.TextBoxFor(x => x.GoogleAnalytics, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="placeholder"><b>Google Maps</b></label>
                                    @Html.TextBoxFor(x => x.GoogleMaps, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="placeholder"><b>Facebook Pixel</b></label>
                                    @Html.TextBoxFor(x => x.FacebookPixel, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="placeholder"><b>Yandex Metrica</b></label>
                                    @Html.TextBoxFor(x => x.YandexMetrica, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="placeholder"><b>Recaptcha</b></label>
                                    @Html.TextBoxFor(x => x.Recaptcha, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="placeholder"><b>Hotjar</b></label>
                                    @Html.TextBoxFor(x => x.Hotjar, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(x => x.CustomScripts, new { @class = "form-control", @rows = "30", @placeholder = "Tutaj umieszczamy skrypty JS, których nie mozna skonfigurować w panelu po lewej stronie." })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>



