@model IEnumerable<ArticleModel>

@{
    ViewData["Title"] = $"Kategoria {ViewBag.CategoryName}";
    ViewData["Description"] = $"Lista wpisów z kategorii {ViewBag.CategoryName}";

    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";

    @inject IHomeService HomeService
    var homeData = await HomeService.GetHomeProperties();
}

<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> Najnowsze wpisy z kategorii <strong>@ViewBag.CategoryName</strong> </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home", new {area = "home"})">Strona główna</a></li>
                                <li class="breadcrumb-item"><i class="fas fa-arrow-right"></i></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("List","Blog", new {area = "home"})">Wpisy</li>
                                <li class="breadcrumb-item"><i class="fas fa-arrow-right"></i></li>
                                <li class="breadcrumb-item">@ViewBag.CategoryName</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>  <!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->

<!--Blog Lists Start-->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- Blog Post Start -->
            <div class="col-lg-8 col-12">
                <div class="row">

                    @if (Model.Count() == 0)
                    {
                        <h3>Brak dodanych wpisów</h3>
                    }

                    @foreach (var article in Model)
                    {
                        <div class="col-12 mb-4 pb-2">
                            <div class="card blog rounded border-0 shadow overflow-hidden">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-md-6">
                                        @if (article.Image != null)
                                        {
                                            <img onclick="location.href='@Url.Action("Details","Blog", new { slug = article.Slug})'" src="@article.Image.Url" class="img-fluid" alt="@article.Image.Description">
                                            <div onclick="location.href='@Url.Action("Details","Blog", new { slug = article.Slug})'" class="overlay bg-dark"></div>
                                        }
                                        <div class="author">
                                            <small class="text-light user d-block"><i class="far fa-user"></i> @article.User.Name</small>
                                            <small class="text-light date"><i class="far fa-calendar-alt"></i> @article.AddDate.ToString("dd-MM-yyyy")</small>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="card-body content">
                                            <h5><a href="@Url.Action("Details","Blog", new { slug = article.Slug})" class="card-title title text-dark">@article.Title</a></h5>
                                            <p class="text-muted mb-0">@article.Excerpt</p>
                                            <div class="post-meta d-flex justify-content-between mt-3">
                                                <ul class="list-unstyled mb-0">
                                                    <li class="list-inline-item"><i class="far fa-comments"></i> @article.Comments.Where(x => x.IsAccepted != false).Count()</li>
                                                </ul>
                                                <a href="@Url.Action("Details","Blog", new { slug = article.Slug})" class="text-muted readmore">Czytaj więcej <i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div> <!--end row-->
                            </div><!--end blog post-->
                        </div><!--end col-->
                    }

                    @if (Model.Count() != 0)
                    {
                        <!-- PAGINATION START -->
                        <div class="col-12">
                            <ul class="pagination justify-content-center mb-0">
                                @if (ViewBag.CurrentPage != 1)
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("List", "Blog", new { page = ViewBag.CurrentPage - 1 })" aria-label="Previous"><i class="fas fa-arrow-left"></i></a></li>
                                }

                                @for (int num = 1; num <= ViewBag.MaxPage; num++)
                                {
                                    <li class="page-item @(ViewBag.CurrentPage == num ? "active" : "")"><a class="page-link" href="@Url.Action("List", "Blog", new { page = num })">@num</a></li>
                                }

                                @if (ViewBag.MaxPage != ViewBag.CurrentPage)
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("List", "Blog", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next"><i class="fas fa-arrow-right"></i></a></li>
                                }
                            </ul>
                        </div><!--end col-->
                    }
                    <!-- PAGINATION END -->
                </div><!--end row-->
            </div><!--end col-->
            <!-- Blog Post End -->
            <!-- START SIDEBAR -->
            <div class="col-lg-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                @await Html.PartialAsync("_SideBar")
            </div><!--end col-->
            <!-- END SIDEBAR -->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section -->
<!--Blog Lists End-->